<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">	
		
		
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">MyNewPass</property>
        
        <!-- USE BELOW PROPERTY IF RUNNING MYSQL SERVER LOCALLY -->
       	<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/discplatform?createDatabaseIfNotExist=true</property> -->
       	
       	<!-- USE BELOW PROPERTY IF RUNNING MYSQL SERVER IN DOCKER CONTAINER NAMED dp-db -->
        <property name="hibernate.connection.url">jdbc:mysql://dp-db:3306/discplatform?createDatabaseIfNotExist=true</property>
       
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        
        <mapping class="com.discussion.csye6220.pojo.User" />
        <mapping class="com.discussion.csye6220.pojo.Question" />
        <mapping class="com.discussion.csye6220.pojo.Answer" />
        <mapping class="com.discussion.csye6220.pojo.Comment" />
        <mapping class="com.discussion.csye6220.pojo.Category" />
    </session-factory>
</hibernate-configuration>
